{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}Big Data Processing Platform{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" id="topNavBar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">Logo</a>
      </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
            <li class="active"><a href="{{ url_for('notebook') }}">Notebook <span class="sr-only">(current)</span></a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Wiki</a></li>
            <li><a href="#">Hive</a></li>
            <li><a href="#">Hive</a></li>
            <li><a href="#">Hive</a></li>
            <li><a href="#">Hive</a></li>
            </ul>         
        </div>
        <div class="col-sm-9 col-md-10 main">
            {% block app_content %}{% endblock %}
        </div>
    </div>      
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}